* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.group-base {
    backdrop-filter: blur(20px);
    background-color: rgba(239, 23, 16, 0.67);
}

.group-forms {
    backdrop-filter: blur(20px);
    background-color: rgba(22, 128, 58, 0.67);
}

.group-text-content {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 206, 70, 0.67);
}

.group-interactive {
    backdrop-filter: blur(10px);
    background-color: rgba(58, 91, 168, 0.67);
}

.infor {
    /* display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr) !important; */
    display: flex;
    /* flex-basis: ; */
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.375rem;
}

.sec {
    /* background-color: black; */
    padding: 2.5rem;
    width: 18rem;
    height: 11.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    border: 3px solid #cd5c5c;
    font-family: Estedad;
    background-color: rgba(205, 92, 92, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 30px;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    /* transform: rotate(90deg); */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #6d83d0, #d0bb6d);
}

main .elements .row {
    display: flex;
    gap: 0.23rem;

}

main .elements {
    height: 502px;
    width: 921px;
    /* overflow: scroll; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.empty-element1{
    height: 1rem !important;
}

h1 {
    font-family: Estedad;
}

a {
    color: black;
    font-size: 0.7rem;
    text-decoration: none;
}

.element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Estedad;
    align-items: center;
    text-align: end;
    /* overflow-wrap: break-word; */
    overflow-y: visible;
    border-radius: 0.75rem;
    width: 4rem;
    height: 3.9rem;
    font-size: 0.6rem;
    padding: 1.3rem;
    line-height: 1rem;
    /* background-color: ; */
}

/* .element::before {
    content: '';
    background-color: #224d16;
} */