{%load static%}

<!DOCTYPE html>
<html lang="fa" >

<head>
    <title>جدول تناوبی عنصر ها</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="preconnect" href="//fdn.fontcdn.ir">
    <link rel="preconnect" href="//v1.fontapi.ir">
    <link href="https://v1.fontapi.ir/css/Estedad" rel="stylesheet">
</head>

<body class="">
    <div class="bg">

        <div class="t"></div>
        <div class="t"></div>
        <div class="t"></div>
    </div>
    <main>
        <h1>جدول تناوبی عنصر ها</h1>
        <div class="elements">
            <div class="row">
                <a href="{% url 'i' 'H' %}" class="element group-base"><span>1<br>H<br>هیدروژن<br>1.008</span></a>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <!--<a href="output" class="element group-forms"><span>output</span></a>-->
                <a href="{% url 'i' 'He' %}" class="element group-base"><span>2<br>He<br>هلیم<br>4.003</span></a><br>
            </div>
            <div class="row">
                <a href="{% url 'i' 'Li' %}" class="element group-base"><span>3<br>Li<br>لیتیم<br>6.94</span></a>
                <a href="{% url 'i' 'Be' %}" class="element group-base"><span>4<br>Be<br>بریلیم<br>9.01</span></a>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>

                <a href="{% url 'i' 'B' %}" class="element group-forms"><span>5<br>B<br>بور<br>10.80</span></a>
                <a href="{% url 'i' 'C' %}" class="element group-forms"><span>6<br>C<br>کربن<br>12.01</span></a>
                <a href="{% url 'i' 'N' %}" class="element group-forms"><span>7<br>N<br>نیتروژن<br>14.01</span></a>
                <a href="{% url 'i' 'O' %}" class="element group-forms"><span>8<br>O<br>اکسیژن<br>16.00</span></a>
                <a href="{% url 'i' 'F' %}" class="element group-forms"><span>9<br>F<br>فلوئور<br>19.00</span></a>
                <a href="{% url 'i' 'Ne' %}" class="element group-forms"><span>10<br>Ne<br>نئون<br>20.18</span></a>
            </div>
            <div class="row">
                <a href="{% url 'i' 'Na' %}" class="element group-base"><span>11<br>Na<br>سدیم<br>4.003</span></a>
                <a href="{% url 'i' 'Mg' %}" class="element group-base"><span>12<br>Mg<br>منیزیم<br>24.31</span></a>

                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>

                <a href="{% url 'i' 'Al' %}" class="element group-forms"><span>13<br>Al<br>آلمینیوم<br>26.98</span></a>
                <a href="{% url 'i' 'Si' %}" class="element group-forms"><span>14<br>Si<br>سیلسیم<br>28.09</span></a>
                <a href="{% url 'i' 'P' %}" class="element group-forms"><span>15<br>P<br>فسفر<br>30.97</span></a>
                <a href="{% url 'i' 'S' %}" class="element group-forms"><span> 16<br>S<br>گوگرد<br>32.07</span></a>
                <a href="{% url 'i' 'Cl' %}" class="element group-forms"><span>17<br>Cl<br>کلر<br>35.45</span></a>
                <a href="{% url 'i' 'Ar' %}" class="element group-forms"><span>18<br>Ar<br>آرگون<br>39.95</span></a>
            </div>
            <div class="row">
                <a href="{% url 'i' 'K' %}" class="element group-base"><span>19<br>K<br>پتاسیم<br>39,10</span></a>
                <a href="{% url 'i' 'Ca' %}" class="element group-base"><span>20<br>Ca<br>کلسیم<br>40.08</span></a>
                <a href="{% url 'i' 'Sc' %}"
                    class="element group-text-content"><span>21<br>Sc<br>اسکاندیم<br>44.96</span></a>
                <a href="{% url 'i' 'Ti' %}"
                    class="element group-text-content"><span>22<br>Ti<br>تیتانیم<br>47.87</span></a>
                <a href="{% url 'i' 'V' %}"
                    class="element group-text-content"><span>23<br>V<br>وانادیم<br>50.94</span></a>
                <a href="{% url 'i' 'Cr' %}"
                    class="element group-text-content"><span>24<br>Cr<br>کروم<br>52.00</span></a>
                <a href="{% url 'i' 'Mn' %}"
                    class="element group-text-content"><span>25<br>Mn<br>منگنز<br>54.94</span></a>
                <a href="{% url 'i' 'Fe' %}"
                    class="element group-text-content"><span>26<br>Fe<br>آهن<br>55.85</span></a>
                <a href="{% url 'i' 'Co' %}"
                    class="element group-text-content"><span>27<br>Co<br>کبالت<br>58.93</span></a>
                <a href="{% url 'i' 'Ni' %}"
                    class="element group-text-content"><span>28<br>Ni<br>نیکل<br>58.69</span></a>
                <a href="{% url 'i' 'Cu' %}" class="element group-text-content"><span>29<br>Cu<br>مس<br>63.55</span></a>
                <a href="{% url 'i' 'Zn' %}"
                    class="element group-text-content"><span>30<br>Zn<br>روی<br>65.39</span></a>

                <a href="{% url 'i' 'Ga' %}" class="element group-forms"><span>31<br>Ga<br>گالیم<br>69.72</span></a>
                <a href="{% url 'i' 'Ge' %}" class="element group-forms"><span>32<br>Ge<br>ژرمانیم<br>72.64</span></a>
                <a href="{% url 'i' 'As' %}" class="element group-forms"><span>33<br>As<br>آرسنیک<br>74.92</span></a>
                <a href="{% url 'i' 'Se' %}" class="element group-forms"><span>34<br>Se<br>سلنیم<br>78.96</span></a>
                <a href="{% url 'i' 'Br' %}" class="element group-forms"><span>35<br>Br<br>برم<br>79.90</span></a>
                <a href="{% url 'i' 'Kr' %}" class="element group-forms"><span>36<br>Kr<br>کریپتون<br>83.80</span></a>
            </div>
            <div class="row">
                <a href="{% url 'i' 'Rb' %}" class="element group-base"><span>37<br>Rb<br>روبیدیم<br>85.47</span></a>
                <a href="{% url 'i' 'Sr' %}" class="element group-base"><span>38<br>Sr<br>استرانسیم<br>87.62</span></a>
                <a href="{% url 'i' 'Y' %}"
                    class="element group-text-content"><span>39<br>Y<br>ایتریم<br>88.91</span></a>
                <a href="{% url 'i' 'Zr' %}"
                    class="element group-text-content"><span>40<br>Zr<br>زیرکونیم<br>91.22</span></a>
                <a href="{% url 'i' 'Nb' %}"
                    class="element group-text-content"><span>41<br>Nb<br>نیوبیم<br>92.91</span></a>
                <a href="{% url 'i' 'Mo' %}"
                    class="element group-text-content"><span>42<br>Mo<br>مولیبدن<br>95.94</span></a>
                <a href="{% url 'i' 'Tc' %}" class="element group-text-content"><span>43<br>Tc<br>تکنسیم<br>-</span></a>
                <a href="{% url 'i' 'Ru' %}"
                    class="element group-text-content"><span>44<br>Ru<br>روتنیم<br>101.1</span></a>
                <a href="{% url 'i' 'Rh' %}"
                    class="element group-text-content"><span>45<br>Rh<br>رودیم<br>102.90</span></a>
                <a href="{% url 'i' 'Pd' %}"
                    class="element group-text-content"><span>46<br>Pd<br>پالادیم<br>106.40</span></a>
                <a href="{% url 'i' 'Ag' %}"
                    class="element group-text-content"><span>47<br>Ag<br>نقره<br>107.90</span></a>
                <a href="{% url 'i' 'Cd' %}"
                    class="element group-text-content"><span>48<br>Cd<br>کادمیم<br>112.40</span></a>

                <a href="{% url 'i' 'In' %}" class="element group-forms"><span>49<br>In<br>ایندیم<br>114.80</span></a>
                <a href="{% url 'i' 'Sn' %}" class="element group-forms"><span>50<br>Sn<br>قلع<br>118.70</span></a>
                <a href="{% url 'i' 'Sb' %}" class="element group-forms"><span>51<br>Sb<br>آنتیموان<br>121.80</span></a>
                <a href="{% url 'i' 'Te' %}" class="element group-forms"><span>52<br>Te<br>تلوریم<br>127.60</span></a>
                <a href="{% url 'i' 'I' %}" class="element group-forms"><span>53<br>I<br>ید<br>126.90</span></a>
                <a href="{% url 'i' 'Xe' %}" class="element group-forms"><span>54<br>Xe<br>زنون<br>131.30</span></a>
            </div>
            <div class="row">
                <a href="{% url 'i' 'Cs' %}" class="element group-base"><span>55<br>Cs<br>سزیم<br>132.9</span></a>
                <a href="{% url 'i' 'Ba' %}" class="element group-base"><span>56<br>Ba<br>باریم<br>137.3</span></a>
                <a href="{% url 'i' 'Lu' %}"
                    class="element group-text-content"><span>71<br>Lu<br>لوتسیم<br>175.00</span></a>
                <a href="{% url 'i' 'Hf' %}"
                    class="element group-text-content"><span>72<br>Hf<br>هافنیم<br>178.5</span></a>
                <a href="{% url 'i' 'Ta' %}"
                    class="element group-text-content"><span>73<br>Ta<br>تانتال<br>180.90</span></a>
                <a href="{% url 'i' 'W' %}"
                    class="element group-text-content"><span>74<br>W<br>تنگستن<br>183.80</span></a>
                <a href="{% url 'i' 'Re' %}"
                    class="element group-text-content"><span>75<br>Re<br>رنیم<br>186.20</span></a>
                <a href="{% url 'i' 'Os' %}"
                    class="element group-text-content"><span>76<br>Os<br>اسمیم<br>190.20</span></a>
                <a href="{% url 'i' 'Ir' %}"
                    class="element group-text-content"><span>77<br>Ir<br>ایریدیم<br>192.20</span></a>
                <a href="{% url 'i' 'Pt' %}"
                    class="element group-text-content"><span>78<br>Pt<br>پلاتین<br>195.1</span></a>
                <a href="{% url 'i' 'Au' %}"
                    class="element group-text-content"><span>79<br>Au<br>طلا<br>197.00</span></a>
                <a href="{% url 'i' 'Hg' %}"
                    class="element group-text-content"><span>80<br>Hg<br>جیوه<br>200.60</span></a>
                <a href="{% url 'i' 'Tl' %}" class="element group-forms"><span>81<br>Tl<br>تالیم<br>204.30</span></a>
                <a href="{% url 'i' 'Pb' %}" class="element group-forms"><span>82<br>Pb<br>سرب<br>207.20</span></a>
                <a href="{% url 'i' 'Bi' %}" class="element group-forms"><span>83<br>Bi<br>بیسموت<br>209.00</span></a>
                <a href="{% url 'i' 'Po' %}" class="element group-forms"><span>84<br>Po<br>پولونیم<br>[209]</span></a>
                <a href="{% url 'i' 'At' %}" class="element group-forms"><span>85<br>At<br>استاتین<br>[210]</span></a>
                <a href="{% url 'i' 'Rn' %}" class="element group-forms"><span>86<br>Rn<br>رادون<br>[222]</span></a>
            </div>
            <div class="row">
                <a href="{% url 'i' 'Fr' %}" class="element group-base"><span>87<br>Fr<br>فرانسیم<br>[223]</span></a>
                <a href="{% url 'i' 'Ra' %}" class="element group-base"><span>88<br>Ra<br>رادیم<br>[226]</span></a>
                <a href="{% url 'i' 'Lr' %}"
                    class="element group-text-content"><span>103<br>Lr<br>لورنسیم<br>[262]</span></a>
                <a href="{% url 'i' 'Rf' %}"
                    class="element group-text-content"><span>104<br>Rf<br>رادرفوردیم<br>[267]</span></a>
                <a href="{% url 'i' 'Db' %}"
                    class="element group-text-content"><span>105<br>Db<br>دابنیم<br>[268]</span></a>
                <a href="{% url 'i' 'Sg' %}"
                    class="element group-text-content"><span>106<br>Sg<br>سیبورگیم<br>[271]</span></a>
                <a href="{% url 'i' 'Bh' %}"
                    class="element group-text-content"><span>107<br>Bh<br>بوریم<br>[272]</span></a>
                <a href="{% url 'i' 'Hs' %}"
                    class="element group-text-content"><span>108<br>Hs<br>هاسیم<br>[277]</span></a>
                <a href="{% url 'i' 'Mt' %}"
                    class="element group-text-content"><span>109<br>Mt<br>مایتنریم<br>[276]</span></a>
                <a href="{% url 'i' 'Ds' %}"
                    class="element group-text-content"><span>110<br>Ds<br>دارمشتاتیم<br>[281]</span></a>
                <a href="{% url 'i' 'Rg' %}"
                    class="element group-text-content"><span>111<br>Rg<br>رونتگنیم<br>[280]</span></a>
                <a href="{% url 'i' 'Cn' %}"
                    class="element group-text-content"><span>112<br>Cn<br>کوپرنسیم<br>[277]</span></a>

                <a href="{% url 'i' 'Nh' %}" class="element group-forms"><span>113<br>Nh<br>نیهونیم<br>[284]</span></a>
                <a href="{% url 'i' 'Fl' %}" class="element group-forms"><span>114<br>Fl<br>فلرویم<br>[289]</span></a>
                <a href="{% url 'i' 'Mc' %}" class="element group-forms"><span>115<br>Mc<br>مسکوویم<br>[288]</span></a>
                <a href="{% url 'i' 'Lv' %}"
                    class="element group-forms"><span>116<br>Lv<br>لیورموریم<br>[293]</span></a>
                <a href="{% url 'i' 'Ts' %}" class="element group-forms"><span>117<br>Ts<br>تنسینه<br>[296]</span></a>
                <a href="{% url 'i' 'Og' %}" class="element group-forms"><span>118<br>Og<br>اوگانسون<br>[294]</span></a>
            </div>



            <div class="row">
                <div class="element empty-element1"></div>
                <div class="element empty-element1"></div>
                <div class="element empty-element1"></div>
                <div class="element empty-element1"></div>
                <div class="element empty-element1"></div>
                <div class="element empty-element1"></div>
                <div class="element empty-element1"></div>
                <div class="element empty-element1"></div>
                <div class="element empty-element1"></div>
                <div class="element empty-element1"></div>
            </div>



            <div class="row">



                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>

                <a href="{% url 'i' 'La' %}"
                    class="element group-interactive"><span>57<br>La<br>لانتان<br>138.90</span></a>
                <a href="{% url 'i' 'Ce' %}"
                    class="element group-interactive"><span>58<br>Ce<br>سریم<br>140.10</span></a>
                <a href="{% url 'i' 'Pr' %}"
                    class="element group-interactive"><span>59<br>Pr<br>پراسئودیمیوم<br>140.90</span></a>
                <a href="{% url 'i' 'Nd' %}"
                    class="element group-interactive"><span>60<br>Nd<br>نئودیمیوم<br>144.20</span></a>
                <a href="{% url 'i' 'Pm' %}"
                    class="element group-interactive"><span>61<br>Pm<br>پرومتیم<br>[145]</span></a>
                <a href="{% url 'i' 'Sm' %}"
                    class="element group-interactive"><span>62<br>Sm<br>ساماریم<br>150.4</span></a>
                <a href="{% url 'i' 'Eu' %}"
                    class="element group-interactive"><span>63<br>Eu<br>اوروپیم<br>152.00</span></a>
                <a href="{% url 'i' 'Gd' %}"
                    class="element group-interactive"><span>64<br>Gd<br>گادولینیوم<br>157.30</span></a>
                <a href="{% url 'i' 'Tb' %}"
                    class="element group-interactive"><span>65<br>Tb<br>تربیم<br>158.90</span></a>
                <a href="{% url 'i' 'Dy' %}"
                    class="element group-interactive"><span>66<br>Dy<br>دیسپروزیم<br>162.50</span></a>
                <a href="{% url 'i' 'Ho' %}"
                    class="element group-interactive"><span>67<br>Ho<br>هولمیم<br>164.90</span></a>
                <a href="{% url 'i' 'Er' %}"
                    class="element group-interactive"><span>68<br>Er<br>اربیم<br>167.30</span></a>
                <a href="{% url 'i' 'Tm' %}"
                    class="element group-interactive"><span>69<br>Tm<br>تولیم<br>168.90</span></a>
                <a href="{% url 'i' 'Yb' %}"
                    class="element group-interactive"><span>70<br>Yb<br>ایتربیم<br>173.00</span></a>
                <div class="element empty-element"></div>
            </div>

            <div class="row">



                <div class="element empty-element"></div>
                <div class="element empty-element"></div>
                <div class="element empty-element"></div>

                <a href="{% url 'i' 'Ac' %}"
                    class="element group-interactive"><span>89<br>Ac<br>اکتینیم<br>[227]</span></a>
                <a href="{% url 'i' 'TH' %}"
                    class="element group-interactive"><span>90<br>Th<br>توریم<br>232.00</span></a>
                <a href="{% url 'i' 'Pa' %}"
                    class="element group-interactive"><span>91<br>Pa<br>پروتاکتینیم<br>231.00</span></a>
                <a href="{% url 'i' 'U' %}"
                    class="element group-interactive"><span>92<br>U<br>اورانیم<br>238.00</span></a>
                <a href="{% url 'i' 'Np' %}"
                    class="element group-interactive"><span>93<br>Np<br>نپتونیم<br>[237]</span></a>
                <a href="{% url 'i' 'Pu' %}"
                    class="element group-interactive"><span>94<br>Pu<br>پلوتونیم<br>[244]</span></a>
                <a href="{% url 'i' 'Am' %}"
                    class="element group-interactive"><span>95<br>Am<br>امریسیم<br>[243]</span></a>
                <a href="{% url 'i' 'Cm' %}"
                    class="element group-interactive"><span>96<br>Cm<br>کوریم<br>[247]</span></a>
                <a href="{% url 'i' 'Bk' %}"
                    class="element group-interactive"><span>97<br>Bk<br>برکلیم<br>[247]</span></a>
                <a href="{% url 'i' 'Cf' %}"
                    class="element group-interactive"><span>98<br>Cf<br>کالیفرنیم<br>[251]</span></a>
                <a href="{% url 'i' 'Es' %}"
                    class="element group-interactive"><span>99<br>Es<br>اینشتینیم<br>[252]</span></a>
                <a href="{% url 'i' 'Fm' %}"
                    class="element group-interactive"><span>100<br>Fm<br>فرمیم<br>[257]</span></a>
                <a href="{% url 'i' 'Md' %}"
                    class="element group-interactive"><span>101<br>Md<br>مندلیم<br>[258]</span></a>
                <a href="{% url 'i' 'No' %}"
                    class="element group-interactive"><span>102<br>No<br>توبلیم<br>[259]</span></a>
                <div class="element empty-element"></div>
            </div>


        </div>






    </main>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        if (document.location.hostname === "madebymike.com.au") {
            ga('create', 'UA-42027047-2', 'auto');
            ga('send', 'pageview');
        }
        Array.prototype.forEach.call(document.querySelectorAll('.key li'), function (li) {
            li.addEventListener('mouseenter', function () {
                document.body.classList.add('hover-' + this.className);
            });
            li.addEventListener('mouseleave', function () {
                document.body.classList.remove('hover-' + this.className);
            });
        });

    </script>
</body>

</html>