{%load static%}

<!doctype html>
<html lang="fa">

<head>
  <meta charset="utf-8">
  <title>{{e.symbol}}</title>
  <link rel="preconnect" href="//fdn.fontcdn.ir">
  <link rel="preconnect" href="//v1.fontapi.ir">
  <link href="https://v1.fontapi.ir/css/Estedad" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  <main>
    <header>
      <h1>{{e.symbol}}</h1>
      <!-- <a href="{%url 'home'%}" style="text-decoration: none;">⬅ بازگشت به جدول</a> -->
    </header>
    <section class="infor">
      <section class="sec">
        <h2>اطلاعات پایه</h2>
        {%if e.atomic_number != '-'%}
        <p><b>عدد اتمی:</b> {{e.atomic_number}}</p>
        {% endif%}
        {%if e.atomic_mass != '-'%}
        <p><b>جرم اتمی:</b> {{e.atomic_mass}}</p>
        {% endif%}
        {%if e.category != '-'%}
        <p><b>دسته:</b> {{e.category}}</p>
        {% endif%}
        {%if e.ntm != '-'%}
        <p><b>حالت:</b> {{e.ntm}}</p>
        {% endif%}
      </section>

      {%if e.isotopes != '-'%}
      <section class="sec">
        <h2>ایزوتوپ‌ها</h2>
        <ul>

          <li>{{e.isotopes}}</li>
        </ul>
      </section>
      {% endif%}
      {%if e.ionic_compounds != '-'%}
      <section class="sec">
        <h2>ترکیبات یونی</h2>
        {{e.ionic_compounds}}
      </section>
      {% endif%}
      {%if e.Applications != '-'%}
      <section class="sec">
        <h2>کاربردها</h2>
        <p>{{e.Applications}}</p>
      </section>
      {% endif%}
      {%if e.History != '-'%}
      <section class="sec">
        <h2>تاریخچه</h2>
        <p>{{e.History}}</p>
      </section>
      {% endif%}
      {%if e.discoverer != '-'%}
      <section class="sec">
        <h2>کاشف</h2>
        <p>{{e.discoverer}}</p>
      </section>
      {% endif%}
      {%if e.tod != '-'%}
      <section class="sec">
        <h2>زمان کشف</h2>
        <p>{{e.tod}}</p>
      </section>
      {% endif%}
      {%if e.Safety != '-'%}
      <section class="sec">
        <h2>ایمنی</h2>
        <p>{{e.Safety}}</p>
      </section>
      {% endif%}
      {%if e.interesting_facts != '-'%}
      <section class="sec">
        <h2>فکت جالب</h2>
        <p>{{e.interesting_facts}}</p>
      </section>
      {% endif%}
    </section>
  </main>
</body>

</html>